asgiref==3.8.1
brotli==1.1.0
brotlicffi==1.1.0.0
chardet==5.2.0
colorama==0.4.6
cryptography==44.0.2
h2==4.2.0
js==1.0
pyodide==0.0.2
pyOpenSSL==25.0.0
python-dotenv==1.0.1
setuptools==75.3.0
simplejson==3.20.1
typing_extensions==4.12.2
unionllm==0.1.25
watchdog==6.0.0
wcwidth==0.2.13
zstandard==0.23.0
